/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E2127FF;
    background-alt: #171529aa;
    foreground:     #FFFFFFFF;
    selected:       #FB5B7Aff;
    active:         #98C379FF;
    urgent:         #E06C75FF;
}
